package ${package.Entity}.mapper;

import ${package.Entity}.${entity};
import ${package.Entity}.${entity}To;
import ${package.Entity}.${entity}Vo;
import org.mapstruct.Mapper;
import org.mapstruct.MappingConstants;
/**
 * <p>
 * $!{table.comment} 实体映射
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Mapper(componentModel = MappingConstants.ComponentModel.SPRING)
public interface ${entity}ObjMapper {

  /**
   * 实体转视图
   */
    ${entity}Vo toVo(${entity} source);

  /**
   * 视图转实体
   */
    ${entity} getByVo(${entity}Vo source);

  /**
   * 服务之间的实体转具体
   */
    ${entity} getByTo(${entity}To source);

  /**
   * 具体转成服务之间的实体
   */
    ${entity}To toTo(${entity} source);
}